

html{
  height: 100vh;
}
body{
  margin: 0;
  background: linear-gradient(to right , steelblue , lightblue);
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 20px; */
  color: white;
  /* min-height: 100vh; */
}

#root{
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 2.5rem;

}


  .login-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }

  .login-container h2 {
    /* color: rgb(117, 186, 247); */
    color: black;
    margin-bottom: 20px;
  }

  .login-input {
    width: 75%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .login-button {
    background-color: rgb(52, 52, 52);
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  .login-button:hover {
    background-color: white;
    color: black;
  }


  /* Observation css */

.header{
  /* padding:20px; */
    width:100%;
    display:flex;

}

.img1{
    /* align-items: center; */
    /* width: 160px;
    height: 80px; */
    flex:7;
    /* display: flex; */
}

.header img{
  
  width: 160px;
  height: 80px;
  align-items: center;
}



nav{
    /* justify-self: right; */
    /* flex:1; */
    align-items: center;
    display: flex;
    gap:1rem;
}

nav a {
    text-decoration: none;
    flex:1;
    color: rgb(66, 56, 215);
    font-weight: 600;
    /* justify-self:center; */
}

h3{
  width:100%;
  justify-self: left;
  color: black;
}

h1{
  width:100%;
    text-align: center;
    color: rgb(66, 56, 215);

}
.form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    padding:2rem;
    font-size: 20px;
    gap: 1px;
    color: rgb(117, 186, 247);

}

.form div{
    margin-top: 1rem;
}

.form input{
    margin-top: 1rem;
    width: 30vh;
    height: 25px;
    border: 1.5px solid black;
    border-radius: 0.5rem;
}

.form select{
    margin-top: 1rem;
    width: 30vh;
    height: 25px;
    border: 1.5px solid black;
    border-radius: 0.5rem;
}

.buttons-container{
    margin-top: 10px;
    width:100%;
    height:10%;
    position: relative;

}

.submit-button{
    position:absolute;
    
    bottom: 10px;
    right: 10px;
    padding:0.75rem;
    margin-bottom:1rem;
    /* background-color: #008080; */
}

button:hover{
    background-color: black;
    color:aliceblue;
}